@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

:root {
  --yellow: #ffb914;
  --black: black;
  --white: white;
}

.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  .title {
    width: 100%;
    font-size: 36px;
  }
  .cards2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .opening p {
    font-size: 20px;
  }
  .text,
  .characters h1 {
    font-size: 45px;
  }
  .characters h2 {
    font-size: 30px;
  }
}
