.body_film {
  width: min(90vw, 1000px);
  width: 100%;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(http://wallpapercave.com/wp/pEeUsp1.jpg);
}

.content {
  padding-top: 100px;
  width: 80%;
  max-width: 900px;
  margin: auto;
}

.cards2 {
  margin: auto;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.card2 {
  display: flex;
  border-radius: 15px 15px 15px 15px;
  background-color: var(--yellow);
  height: 10rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card3 {
  padding-top: 70px;
  align-items: center;
}

.card_people {
  margin-top: 50px;
}

.text h1 {
  color: var(--yellow);
  padding-bottom: 10px;
}

.opening h2 {
  color: var(--yellow);
  margin-top: 20px;
}

.opening p {
  line-height: 3;
  color: var(--yellow);
}
.text {
  padding-top: 30px;
}
