.body {
  padding-top: 100px;
  width: min(90vw, 1000px);
  margin: auto;
  text-align: center;
}

.cards {
  padding-top: 70px;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.card {
  display: flex;
  border-radius: 15px 15px 15px 15px;
  background-color: #ffe81f;
  height: 10rem;
  align-items: center;
  justify-content: space-around;
}
