.header {
  position: fixed;
  background: #dcdcdc;
  height: 80px;
  width: 100%;
  margin: 0;
  text-align: center;

  display: flex;
}

.header img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
  width: 56px;
  height: 56px;
}

.header h1 {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;

  text-shadow: 4px 4px 4px #aaa;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  .header h1 {
    font-size: 48px;
  }
}
